* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scrollbar-color: #c0bd8d transparent;
}

*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #c0bd8d;
  border-radius: 10px;

}


html {
  overflow: overlay;
  background-color: #031630;

}

.App {
  color: #031630;
}


.detailButton {
  margin: 0 auto;
  /* padding: 20px 30px; */
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: .1s;
}

.detailButton:hover {
  color: #c0bd8d;
}

.pdfObject {
  text-align: center;
  margin: 3% auto 0 auto;
}

.pdfObject .pdf {
  background-color: #c0bd8d;
  border: none;
  border-radius: 20px;
  color: #031630;
  transition: .2s;
  cursor: pointer;
}

.pdfObject .pdf:hover {
  background-color: #fff;
}

@media (orientation:portrait) and (min-width:320px) {
  .pdfObject .pdf {
    font-size: 10px;
    padding: 10px 20px;
  }

  .detailButton {
    font-size: 10px;
  }


}

@media (orientation: portrait) and (min-width: 410px) {
  .pdfObject .pdf {
    font-size: 14px;
    padding: 10px 20px;
  }

  .detailButton {
    font-size: 14px;
  }
}

@media (orientation: portrait) and (min-width: 768px) {
  .pdfObject .pdf {
    font-size: 18px;
    padding: 15px 25px;
  }

  .detailButton {
    font-size: 18px;
  }
}

@media (orientation: landscape) {
  .pdfObject .pdf {
    font-size: 14px;
    padding: 10px 20px;
  }

  .detailButton {
    font-size: 14px;
  }
}

@media(orientation:landscape) and (min-width:640px) {
  .pdfObject .pdf {
    font-size: 18px;
    padding: 15px 25px;
  }

  .detailButton {
    font-size: 14px;
  }
}

@media(orientation:landscape) and (min-width:1024px) {
  .pdfObject .pdf {
    font-size: 22px;
    padding: 20px 30px;
  }

  .detailButton {
    font-size: 18px;
  }
}