* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

* {
  scrollbar-width: auto;
  scrollbar-color: #c0bd8d transparent;
}


*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #c0bd8d;
  border-radius: 10px;

}


html {
  overflow: overlay;
  scroll-behavior: smooth;
  background-color: #031630;

}

.App {
  color: #031630;
}

.detailButton {
  margin: 0 auto;
  /* padding: 20px 30px; */
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: .1s;
}

.detailButton:hover {
  color: #c0bd8d;
}