.detailWindowBGW {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(68, 68, 68, 0.4);
  color: #031630;
}

.detailWindowBGW h2 {
  display: inline-block;
  border-radius: 20px;
  padding: 10px;
  background-color: rgb(225, 214, 135);
  text-transform: uppercase;
  margin: 10%;
  font-size: 38px;
}

.detailWindow {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 5px;
}

.detailWindow .leftDetail {
  text-align: right;
}

.detailWindow .rightDetail {
  text-align: left;
}

.quit {
  position: fixed;
  top: 32%;
  right: 26%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 50px;
  height: 50px;
}