.detailWindowBGW {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(68, 68, 68, 0.4);
}


.detailWindow {
  box-sizing: content-box;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 40%;
  height: 70%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  color: #031630;

}



.detailWindow {
  text-align: center;
}

.detailWindow p {
  border: 2px solid #031630;
  padding: 10px;
  border-bottom: none;
  font-size: 18px;
  line-height: 250%;

}

.detailWindow p:nth-of-type(1),
.detailWindow p:nth-of-type(2) {
  font-size: 24px;
  font-weight: bold;
}

.detailWindow p:nth-last-of-type(even) {
  border-right: none;
}

.detailWindow p:nth-last-of-type(1),
.detailWindow p:nth-last-of-type(2) {
  border-bottom: 2px solid #031630;
}


.quit {
  position: fixed;
  top: 1%;
  right: 1%;
  z-index: 2;
  background-color: transparent;
  border: none;
  cursor: pointer;

}

.quit svg {
  font-size: 36px;
  color: #fff;
  transition: .2s;
}

.quit svg:hover {
  color: #e1d687;
}

@media (orientation: portrait) and (min-width: 320px) {
  .detailWindow {
    width: 100%;
    height: 100%;
    padding: 50px 20px;
    box-sizing: border-box;

  }



  .detailWindow p {
    font-size: 10px;
    padding: 0;
  }

  .detailWindow p:nth-of-type(1),
  .detailWindow p:nth-of-type(2) {
    font-size: 12px;
  }

  .quit {
    cursor: pointer;
    margin: 10px;
  }

  .quit svg {
    font-size: 24px;
    color: #e1d687;
  }
}

@media (orientation: portrait) and (min-width: 375px) {


  .detailWindow p {
    font-size: 12px;

  }

  .detailWindow p:nth-of-type(1),
  .detailWindow p:nth-of-type(2) {
    font-size: 14px;
  }

}

@media (orientation: portrait) and (min-width: 410px) {
  .detailWindow p {
    font-size: 14px;

  }

  .detailWindow p:nth-of-type(1),
  .detailWindow p:nth-of-type(2) {
    font-size: 18px;
  }
}

@media (orientation: portrait) and (min-width: 768px) {
  .detailWindow p {
    font-size: 18px;

  }

  .detailWindow p:nth-of-type(1),
  .detailWindow p:nth-of-type(2) {
    font-size: 24px;
  }
}

/* ------------------------------------------ */
@media (orientation: landscape) {
  .detailWindow {
    width: 70%;
    height: 85%;
    background-color: #fff;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .detailWindow p {
    font-size: 10px;
    padding: 0;
  }

  .detailWindow p:nth-of-type(1),
  .detailWindow p:nth-of-type(2) {
    font-size: 12px;
  }

  .detailWindow p:nth-last-of-type(4),
  .detailWindow p:nth-last-of-type(3) {
    border-bottom: 2px solid #031630;
  }

  .quit {
    cursor: pointer;
    margin: 10px;
  }

  .quit svg {
    font-size: 24px;
    color: #e1d687;
  }
}

@media(orientation:landscape) and (min-width:640px) {
  .detailWindow p {
    font-size: 12px;
    padding: 0;
  }

  .detailWindow p:nth-of-type(1),
  .detailWindow p:nth-of-type(2) {
    font-size: 14px;
  }

  .quit svg {
    font-size: 28px;
  }
}

@media(orientation:landscape) and (min-width:1025px) {
  .detailWindow {
    width: 40%;
    min-height: 70%;
    transform: translate(-50%, -50%);
    padding: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .detailWindow p {
    font-size: 14px;

  }


  .detailWindow p:nth-last-of-type(4),
  .detailWindow p:nth-last-of-type(3) {
    border-bottom: none;
  }

  .quit {
    cursor: pointer;
    margin: 10px;
  }

  .quit svg {
    font-size: 24px;
    color: #e1d687;
  }

}

@media(orientation:landscape) and (min-width:1280px) {
  .detailWindow p {
    font-size: 16px;

  }

  .detailWindow p:nth-of-type(1),
  .detailWindow p:nth-of-type(2) {
    font-size: 18px;
  }

  .quit svg {
    font-size: 32px;
    color: #e1d687;
  }

}