.detailWindowBGW {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(68, 68, 68, 0.4);
}


.detailWindow {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: stretch;
  color: #031630;

}

.detailWindow div p:nth-of-type(1) {
  font-size: 24px;
}

.detailWindow div {
  text-align: center;
}

.detailWindow div p {
  border: 2px solid #031630;
  padding: 10px;
  border-bottom: none;

}


.detailWindow .leftDetail p {
  border-right: none;
}

.detailWindow div p:nth-last-of-type(1) {
  border-bottom: 2px solid #031630;
}


.quit {
  position: fixed;
  top: 0%;
  right: 0%;
  z-index: 2;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 15px;
}

.quit svg {
  font-size: 36px;
  color: #fff;


  transition: .2s;
}

.quit svg:hover {
  color: #e1d687;
}