input[type=range] {
  height: 48px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 70%;
  background-color: transparent;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 9px;
  cursor: pointer;

  box-shadow: 1px 1px 1px #031630;
  background-color: #E1D687;
  border-radius: 0px;
  border: 1px solid #031630;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #031630;
  border: 1px solid #031630;
  height: 40px;
  width: 20px;
  border-radius: 0px;
  background: #C0BD8D;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -16.5px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #E1D687;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 9px;
  cursor: pointer;

  box-shadow: 1px 1px 1px #031630;
  background: #E1D687;
  border-radius: 0px;
  border: 1px solid #031630;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #031630;
  border: 1px solid #031630;
  height: 40px;
  width: 20px;
  border-radius: 0px;
  background: #C0BD8D;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 9px;
  cursor: pointer;

  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #E1D687;
  border: 1px solid #031630;
  border-radius: 0px;
  box-shadow: 1px 1px 1px #031630;
}

input[type=range]::-ms-fill-upper {
  background: #E1D687;
  border: 1px solid #031630;
  border-radius: 0px;
  box-shadow: 1px 1px 1px #031630;
}

input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #031630;
  border: 1px solid #031630;
  height: 40px;
  width: 20px;
  border-radius: 0px;
  background: #C0BD8D;
  cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
  background: #E1D687;
}

input[type=range]:focus::-ms-fill-upper {
  background: #E1D687;
}


.form {
  min-height: 100vh;
  background-color: #13253d;
  color: #fff;
}

.form .formHeader {
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  padding: 30px 0;
}

.form .fromTextHeader {
  margin: 20px 0;
  text-align: center;
  font-size: 22px;
}




form {
  text-align: center;
}



.filtrationForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  color: #fff;
}

.filtrationForm .SawMethod {
  color: #fff;
}

.filtrationForm .SawMethod h2 {
  margin: 30px 0;
  font-size: 32px;
}

.filtrationForm .SawMethod p {
  margin: 50px 0;
}

.filtrationForm .SawMethod .ratios {
  margin-top: 50px;
  color: #fff;
}

.filtrationForm .SawMethod div {
  display: flex;
  align-items: center;
}

.filtrationForm .SawMethod div span {
  margin: 0 10px;
}

.SubmitButton {
  background-color: #e1d687;
  color: #13253d;
  padding: 20px 30px;
  border-radius: 20px;
  font-size: 24px;
  border: none;
  cursor: pointer;
  transition: .2s;
}

.SubmitButton:hover {
  background-color: #fff;
}